example.json
{
  "name": "Latest Fashion Multimedia Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        192
      ],
      "id": "3908e145-aba6-4f84-90c3-f5775a1c741e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://search.naver.com/search.naver?where=news&ie=utf8&sm=nws_hty&query=%ED%8C%A8%EC%85%98",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        144,
        192
      ],
      "id": "5f2224b4-f891-49c3-b32e-7ae76d40f932",
      "name": "HTTP Request1 (패션 뉴스 소스 가져오기)"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "아래에 제공되는 data를 참고하여, 현재 최신 트렌드에 맞는 독창적이고 고품질의 패션 이미지 생성 프롬프트를 영어로 간결하게 작성해주세요. 프롬프트는 50단어 이내로, 스타일(예: photorealistic, cinematic lighting)을 포함해야 합니다.\n[data]\n{{ $json.data }}"
            }
          ]
        },
        "jsonOutput": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        304,
        192
      ],
      "id": "7ae9cb82-dc49-4151-af4f-910df66efda7",
      "name": "Message a model (트렌드 분석 및 프롬프트 생성)",
      "credentials": {
        "googlePalmApi": {
          "id": "R6a74Z8Y4jI6cakY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyAou9G6BXR9fmI4UcC2ZQi3XhDdCkDSYwg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"contents\": [{\n      \"parts\": [\n        {\"text\": \"{{ $json.text }}\"}\n      ]\n    }],\n    \"config\": {\n        \"imageGenerationConfig\": {\n            \"numberOfImages\": 1,\n            \"outputMimeType\": \"image/png\"\n        }\n    }\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        480,
        192
      ],
      "id": "577fb6b6-6756-463f-880f-000000000001",
      "name": "HTTP Request (이미지 생성)"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[0].inlineData.data",
        "fileName": "latest_fashion_image.png",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        656,
        192
      ],
      "id": "428eb4dd-ff51-4779-a669-deaaa537e9c4",
      "name": "Convert to File1 (이미지 파일 저장)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-video-generation-api.com/v1/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_VIDEO_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"image_file\": \"={{ $node[\"Convert to File1 (이미지 파일 저장)\"].json[\"data\"].fileName }}\",\n    \"duration_seconds\": 5,\n    \"music_style\": \"upbeat fashion runway\",\n    \"prompt\": \"A short, dynamic 5-second video showcasing the latest fashion trend.\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        192
      ],
      "id": "787c94b4-f891-49c3-b32e-7ae76d40f932",
      "name": "HTTP Request2 (영상 생성)"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "video_data_base64",
        "fileName": "latest_fashion_video.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1008,
        192
      ],
      "id": "428eb4dd-ff51-4779-a669-deaaa537e9c5",
      "name": "Convert to File2 (영상 파일 저장)"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1 (패션 뉴스 소스 가져오기)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1 (패션 뉴스 소스 가져오기)": {
      "main": [
        [
          {
            "node": "Message a model (트렌드 분석 및 프롬프트 생성)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model (트렌드 분석 및 프롬프트 생성)": {
      "main": [
        [
          {
            "node": "HTTP Request (이미지 생성)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (이미지 생성)": {
      "main": [
        [
          {
            "node": "Convert to File1 (이미지 파일 저장)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1 (이미지 파일 저장)": {
      "main": [
        [
          {
            "node": "HTTP Request2 (영상 생성)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2 (영상 생성)": {
      "main": [
        [
          {
            "node": "Convert to File2 (영상 파일 저장)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "12c3dcef-474d-41f9-b737-671a72747ad6",
  "meta": {
    "templateId": "ready-to-run-ai-workflow",
    "templateCredsSetupCompleted": true,
    "instanceId": "78b5e29863ddf1329f2bb4dd8f7adfdf3779e245bf8d538eb7bc35ee28c19da5"
  },
  "id": "LBsPZ5UmZwmDBFxb",
  "tags": []
}