Team_WeFlash_Auto_Short (1).json
{
  "name": "Team_WeFlash_Auto_Short",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=아래에 제공되는 data를 참고하여, 현재 최신 트렌드에 맞는 독창적이고 고품질의 패션 이미지 생성 프롬프트를 영어로 간결하게 작성해주세요. 프롬프트는 50단어 이내로, 스타일(예: photorealistic, cinematic lighting)을 포함해야 합니다.\n이미지 프롬프를 제작할 때 참고 하였던 링크하나를 프롬프트와 같이 출력합니다.\n프롬프트 text 안에는 다른 내용 전부 빼고, 무조건 묘사에 링크에 관한 내용만 형식대로 기술되어야합니다.마크다운 구문도 넣지 말것\n\n[data]\n{{ $json.data }}\n\n[형식]\n{\n  prompt : \"text\",\n  link : \"text\"\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        256,
        96
      ],
      "id": "159981cf-71f0-4420-b03e-f925987fe538",
      "name": "Message a model (트렌드 분석 및 프롬프트 생성)1",
      "credentials": {
        "googlePalmApi": {
          "id": "AzwYzbnGG5glZ9mf",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "url": "https://search.naver.com/search.naver?where=news&ie=utf8&sm=nws_hty&query=%ED%8C%A8%EC%85%98",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        96
      ],
      "id": "c07a7373-f186-40e8-b727-51ac42189c65",
      "name": "HTTP Request1 (패션 뉴스 소스 가져오기)"
    },
    {
      "parameters": {
        "formTitle": "이미지넣기",
        "formDescription": "사진첨부",
        "formFields": {
          "values": [
            {
              "fieldLabel": "image",
              "fieldType": "file",
              "acceptFileTypes": ".jpg, .png, .gif, .webp, .svg",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -416,
        96
      ],
      "id": "272deb5e-ea73-402d-a0cb-ebdb568dccac",
      "name": "On form submission",
      "webhookId": "164c6ea8-f4d1-40ba-bf72-0d1cc4df129d"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "image",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -144,
        96
      ],
      "id": "d1728054-f89d-497f-91a7-434d566ed969",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDgYrcJJwjCePj6ZuseXTOzLbKtnRTVvLY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Refer to the data below and output an image according to the prompt.{{ $json.prompt }}\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{ $('On form submission').item.json.image[0].mimetype }}\",\n            \"data\": \"{{ $('Extract from File').item.json.data }}\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        96
      ],
      "id": "1fbc921c-0983-4216-830d-e6aee2065975",
      "name": "HTTP Request (이미지+프롬프트 전송)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9f66873-e638-45f1-a0d9-13ea93e1e4dd",
              "name": "prompt",
              "value": "={{ $item(0).$json.text }}",
              "type": "string"
            },
            {
              "id": "86519c74-1ab7-4583-92c3-3dd14b6208fd",
              "name": "link",
              "value": "={{ $item(1).$json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        96
      ],
      "id": "6479cd41-dbe0-4daf-94e6-2c401e64ac57",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const rawData = $input.first().json.content.parts[0].text;\nlet data;\n\n// 1. 디버깅: rawData의 타입과 내용을 확인\nconsole.log(`Type of rawData: ${typeof rawData}`);\nconsole.log('rawData:', rawData);\n\n// 2. data 변수에 할당.\n// 만약 rawData가 JSON 문자열이 아닌 JS 객체/배열이라면 바로 사용.\ndata = rawData; \n\nlet output = [];\n\nif (typeof data === 'string') {\n  // A. 문자열인 경우: 유효한 JSON인지 시도\n  try {\n    data = JSON.parse(data); // data를 JS 객체/배열로 재할당\n  } catch (e) {\n    // 유효한 JSON 문자열이 아닌 경우 (예: 일반 텍스트)\n    output = [{ json: { error: '파싱 실패 - 유효하지 않은 JSON 문자열', raw: rawData, exception: e.message } }];\n    return output;\n  }\n}\n\n// B. 객체나 배열로 확정된 경우 (위에서 문자열이 파싱되었거나, 원래 객체/배열이었거나)\nif (Array.isArray(data)) {\n  // ✅ 배열이면: 한 줄씩 아이템 생성 (Index를 key로 사용)\n  output = data.map((line, index) => ({\n    json: {\n      line_id: index + 1,\n      text: line\n    }\n  }));\n} else if (typeof data === 'object' && data !== null) {\n  // ✅ 객체이면: key 기준으로 나눔\n  output = Object.entries(data).map(([key, value]) => ({\n    json: {\n      line_id: key, // 객체의 key를 line_id로 사용\n      text: value\n    }\n  }));\n} else {\n  // ✅ 그 외 지원되지 않는 형식 (boolean, number 등)\n  output = [{ json: { error: '지원되지 않는 형식 - 객체/배열이 아님', raw: rawData, type: typeof rawData } }];\n}\n\nreturn output;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        96
      ],
      "id": "7bfd30da-695d-4342-8feb-e9e2d65c4867",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        912,
        96
      ],
      "id": "3698ac5a-4c14-42c5-989a-96117175e582",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[0].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1328,
        96
      ],
      "id": "470e9f9a-09f9-403b-842f-c5683dc0a91e",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request1 (패션 뉴스 소스 가져오기)": {
      "main": [
        [
          {
            "node": "Message a model (트렌드 분석 및 프롬프트 생성)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request1 (패션 뉴스 소스 가져오기)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model (트렌드 분석 및 프롬프트 생성)1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request (이미지+프롬프트 전송)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (이미지+프롬프트 전송)": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9965facc-6045-4c6e-a3bd-f76ef4a9809f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f374bcaf97eaa22a4c48e9f88410138633a03fd3528943967a0d6632449c909e"
  },
  "id": "II2ZheflyXpHWuQx",
  "tags": []
}